<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <!--change the config to the number of minutes you wish the app to download the file-->
    <add key="serviceMinutes" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog>
    <variable name="currentDate" value=""/>
    <targets>
      <target name="t1" type="File" fileName="~\Logs\${var:currentDate}_servicelog.txt"/>
      <target name="t2" type="Console"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="t1, t2" />
    </rules>
  </nlog>
</configuration>